@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #ededed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    border-top: 2px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
}

.logo::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #da513f;
    text-decoration: underline;
}

.home {
    height: 100vh;
    background: url(background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 700px;
}

.home-content h4 {
    position: relative;
    font-weight: 800;
    font-size: 68px;
}

.home-content h4::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.2;
}

.home-content h1::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}

.home-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #da513f;
}

.home-content h3::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}

.home-content p {
    position: relative;
    margin: 20px 0 40px;
    font-size: 16px;
}

.home-content p::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showUp 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #da513f;
    border: 2px solid #da513f;
    border-radius: 8px;
    font-size: 15px;
    color: #151a20;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #da513f;
}

.btn-box a:nth-child(2):hover {
    color: #151a20;
}

.btn-box a:nth-child(2)::before {
    background: #da513f;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #151a20;
}

.btn-box a:hover {
    color: #da513f;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-social {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-social::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showUp 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.home-social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #da513f;
    border-radius: 50%;
    font-size: 20px;
    color: #da513f;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #da513f;
    z-index: -1;
    transition: .5s;
}

.home-social a:hover {
    color: #151a20;
}

.home-social a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 955px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #151a20;
    opacity: .8;
}

.home-imgHover::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #151a20;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 102;
}

.about-me {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #151a20;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.sec-about {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #151a20;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6%;
    position: relative;
    height: 70%;
    width: 49%;
    border-radius: 25px;
    background: #383b3d9c;
    filter: drop-shadow(5px 5px 15px #000000);
    transition: .5s;
}

.card:hover {
    background: #383b3da6;
}

.card:first-child h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 62px;
    color: #da513f;
    transition: .5s;
}

.card:first-child h1:hover {
    font-size: 64px;
    color: #ededed;
}

.card:first-child p {
    position: absolute;
    left: 10%;
    top: 35%;
    width: 55%;
    font-size: 18px;
    transition: 1s;
}

.card:first-child p:hover {
    color: #da513f;
}

.card:first-child ul {
    position: absolute;
    left: 15%;
    top: 55%;
}

.card:first-child li {
    font-weight: 500;
    transition: 1s;
}

.card:first-child li:hover {
    color: #da513f;
    text-decoration: underline;
}

.card:first-child a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 80%;
    width: 150px;
    height: 50px;
    background: #25282a;
    border: 2px solid #da513f;
    border-radius: 8px;
    font-size: 15px;
    color: #da513f;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.card:first-child a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
    background: #da513f;
}

.card:first-child a:hover {
    color: #2a2e31;
    text-decoration: underline;
    font-size: 18px;
}

.card:first-child a:hover::before {
    height: 100%;
}

.card:last-child {
    display: flex;
    overflow: hidden;
}

.show-bar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    
}

.show-bar > div {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px -50px 122px -30px #000000;
    filter: drop-shadow(5px 5px 15px #000000);
    z-index: 2;
}

.show-bar h1 {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    color: #ededed;
    filter: drop-shadow(2px 2px 3px #151a15);
}

.controls button {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    z-index: 100;
    bottom: 10%;
    right: 5%;
    width: 30px;
    height: 60px;
    border-radius: 50px;
}

.controls button:active, button:focus {
    outline: none;
}

.controls i {
    font-size: 24px;
}

.up-button {
    transform: translateY(+35px);
    border: 2px solid #ededed;
    background: transparent;
    color: #ededed;
    transition: .5s;
}

.up-button:hover {
    border: 2px solid #ededed;
    background-color: #ededed;
    color: #da513f;
}

.down-button {
    transform: translateY(-35px);
    background: #ededed; 
    border: 2px solid #ededed;
    transition: .5s;
    color: #da513f;
}

.down-button:hover {
    border: 2px solid #ededed;
    background: transparent;
    color: #ededed;
}

.foot-card {
    position: relative;
    display: flex;
    width: 100%;
    height: 15%;
    top: 85%;
    background: #383b3d73;
    border-radius: 25px;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(5px 5px 15px #000000);
    transition: 1s;
}

.foot-card:hover {
    background: #383b3da9;
}

.item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .5s;
}

.item:hover {
    color: #da513f;
}

.item p {
    position: absolute;
    display: flex;
    top: 20%;
    font-size: 50px;
}

.item h5 {
    display: flex;
    position: absolute;
    top: 70%;
}













/*KEYFRAMES ANIMATION*/

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes showUp {
    100% {
        height: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #da513f #151a15;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #151a15;
    transition: 0.5s;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #151a15;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #151a15;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #da513f18;
    transition: 0.5s;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #da513f;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #da513f;
  }